
.justifyd{ text-align: justify; }
.centre{text-align: center;}
.spec{color: #00b5ad}
.pad{margin-top: 11%}
table{width: 100%;}

td{
	border-spacing: 5em;
	padding: 1%
}
.choco{background-color:#d53;}
.rhed{color: #d53}
a:link {color: slategray;}
body{background-color: #eee;}
.shadowed{box-shadow:  0 0 2em #333; }
